body {
  line-height: 1.4;
  border: solid;
  font-family: sans-serif;
}

.product-title {
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(240, 235, 235);
  text-transform: uppercase;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
img {
  height: 300px;
  width: 300px;
}
.price {
  font-size: 30px;
}
.shipping {
  text-transform: uppercase;
  color: rgb(155, 151, 151);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}
p {
  font-size: 20px;
}

.more-info:link {
  color: black;
}

.more-info:visited {
  color: black;
}
.more-info:hover {
  text-decoration: none;
}
.more-info:active {
  text-decoration: none;
}
li {
  font-size: 18px;
  font-family: sans-serif;
  list-style: square;
}
h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
}
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
.article {
  display: flex;
  gap: 15px;
}
.black {
  background-color: black;
  height: 22px;
  width: 22px;
}
.blue {
  background-color: blue;
  height: 22px;
  width: 22px;
}
.red {
  background-color: red;
  height: 22px;
  width: 22px;
}
.yellow {
  background-color: yellow;
  height: 22px;
  width: 22px;
}
.green {
  background-color: green;
  height: 22px;
  width: 22px;
}
.brown {
  background-color: brown;
  height: 22px;
  width: 22px;
}
.product-color {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-price {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  padding: 15px 15px;
  text-align: center;
}
.more-information {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.details-list {
  margin-top: 15px;
}
.price-details {
  flex: 1;
}
